* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 600px;
}

.header {
    width: 455px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.mybutton {
    margin: 5px auto;
    width: 110px;
    height: 100px;
    padding: 10px;
	background-color: #d33425;
	border-radius: 50%;
	border:2px solid #af1204;
	cursor:pointer;
    color:#FFF;
    font: italic bold 20px Georgia;
    text-shadow:-2px 3px 5px #db9d99;
    outline: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 4px 4px 1px rgba(109, 97, 97, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    justify-content: space-between
}

.mybutton:first-of-type {
    margin: 5px auto;
}

.mybutton:hover {
    background-color: #ad2b1f;
    border:2px solid #a4362c
}

.mybutton:active, .mybutton:hover, .mybutton:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36)
}

.container {
    width: 455px;
    height: 455px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap
}

.squ {
    border: .1px solid #000;
    background-color: coral
}

.squ:hover {
    background-color: #8d3718;
    cursor: pointer
}